{%extends 'base.html'%}
{% load static %}

{% block title %}
ALIMENTAZIONE EQUILIBRATA
{% endblock %}

{% block head_links %}
    <link rel="stylesheet" href="{% static 'informazioni/css/style.css'%}">
    
{% endblock %}


 
{% block header_title %}
    ALIMENTAZIONE EQUILIBRATA
{% endblock%}

{%block content%}
    <main>
        <div>
            <h1>COME FARE UNA SANA ALIMENTAZIONE</h1>
            
            <article>
                <div class="testo-accanto-immagine">
                    <h2>ALIMENTAZIONE EQUILIBRATA</h2>
                    <img src="{% static 'informazioni/img/piramide.jpg' %}" class="immagine">

                    <p>
                        il termine <strong>dieta</strong> significa "regime di vita" ed è sinonimo di alimentazione corretta e razionale,
                        stabilita "su misura" o meglio "personalizzata", in base alle necessità di ciascuno, per il mantenimento
                        di una buona salute.
                    </p>
                    <p>
                        La <strong>dieta personalizzata</strong> deve tener conto delle esigenze fisiologiche, dell'adattabilità
                        individuale, dei gusti e della scelta dei cibi dal punto di vista quantitativo e qualitativo.
                    </p>
                    <p>
                        Gli interventi migliorativi nutrizionali dovranno in ogni caso considerare gli stili di vita
                        dell'individuo, sia per aiutarlo a migliorare il proprio rapporto con il cibo, sia per facilitare l'acquisizione
                        di abitudini alimentari corrette.
                    </p>
                </div>
            </article>
            
            <article>
                <p>
                    per impostare una <strong>dieta equilibrata</strong> in termini rigorosi è necessario conoscere:
                    <ul>
                        <li>
                            la situazione fisiologica dell'organismo;
                        </li>
                        <li>
                            il fabisogno energetico giornaliero dell'individuo;
                        </li>
                        <li>
                            il fabisogno in principi nutritivi;
                        </li>
                        <li>
                            la composizione chimica riferita alla parte edibile degli alimenti;
                        </li>
                        <li>
                            il coefficiente di assimilazione dei cibi;
                        </li>
                        <li>
                            le modificazioni dovute alla cottura e conservazione dei vari alimenti;
                        </li>
                        <li>
                            la distribuzione dell'assunzione di cibo durante la giornata;
                        </li>
                        <li>
                            la stagionalità/freschezza di alcuni prodotti ed il loro prezzo consentono
                            opportune valutazioni merceolologiche ed economiche
                        </li>
                    </ul>
                </p>
                <p>
                    Una alimentazione razionale ed equilibrata dovrebbe essere studiata caso per caso, tenendo conto
                    delle esigenze caloriche e nutrizionali del singolo individuo o di gruppi di individui (adolescenti,
                    giovani sportivi,anziani,ecc.).
                </p>
                
                <p>
                    I <strong>LARN</strong>(<b>L</b>ivelli di <b>A</b>ssunzione <b>R</b>accomandati di <b>N</b>utrienti)
                    elaborati dalla SINU (<b>S</b>ocietà <b>I</b>taliana di <b>N</b>utrizione <b>U</b>mana) nel 1996,
                    nuova riedizione nel 2024, costituiscono le indicazioni sulla quantità di energia e nutrienti sufficienti
                    per soddisfare i bisogni nutrizionali di tutte le persone sane della popolazione italiana.
                </p>
            </article>

            <article>
                <p>
                    In generale un <strong>regime alimentare equilibrato</strong>, sia dal punto di vista qualitativo che quantitativo,
                    si deve realizzare considerando le seguenti indicazioni:
                    <ol>
                        <li>
                            È necessario stabilire il <strong>fabisogno energetico</strong> medio giornaliero di ogni individuo,
                            in funzione del peso,del sesso, dell'età, delle attività fisiche e di altre particolari situazioni
                            fisiologiche. Con i cibi si devono introdurre le calorie che effettivamente si consumano.
                        </li>
                        <br>
                        <li>
                            Occorre <strong>ripartire correttamente l'apporto dei principi nutritivi energetici</strong> o
                            <strong>macronutrienti</strong>. Il Fabisogno energetico va assicurato a grandi linee da:
                            <ul>
                                <li>
                                    <strong>12-20% di protidi (proteine)</strong>- per un adulto la richiesta proteica è di circa 1g per kg
                                    di peso corporeo, mentre per il bambino, l'adolescente ed alcune persone in condizioni fisiologiche
                                    particolari, tale fabisogno si dovra leggermente aumentare;
                                </li>
                                <li>
                                    <strong>20-30% lipidi(grassi)</strong> - per un adulto il valore raccomandato è di circa il 25%
                                    (che in alcuni casi può scendere al 20%), mentre per il bambino e l'adolescente tale quota
                                    è di circa il 30%;
                                </li>
                                <li>
                                    <strong>45-60% glucidi(carboidrati)</strong>- costituiscono la quota restante dell'energia che va assicurata
                                    prevalentemente dai polisaccaridi, i glucidi semplici non dovrebbero superare il 10% circa dell'energia giornaliera.
                                </li>
                            </ul>
                        </li>
                        <br>
                        <li>
                            la dieta si definisce equilibrata se vengono assicurate, nelle quantità raccomandate,
                            le vitamine e i sali minerali. L'acqua va apportata adeguatamente da bevande e alimenti,
                            allo scopo di mantenere lìequilibrio idro-salinico dell'organismo.
                        </li>
                        <br>
                        <li>
                            nel caso di un eventuale consumo di alcol (1g = 7kcal), ammesso dopo i 18-20 anni,
                            il suo apporto calorico non dovrebbe superare il 10% del fabisogno energetico giornaliero.
                        </li>
                        <br>
                        <li>
                            nel caso di un consumo eccessivo di alimenti di origine animale, accertarsi che la quota giornaliera
                            di colesterolo non superi il limite massimo di 300 mg.
                        </li>
                        <br>
                        <li>
                            mangiare bene significa assicurare anche una buona quantità di fibra, pari almeno a 30g giornalieri,
                            date le notevoli proprietà benefiche che essa svolge nell'organismo.
                        </li>
                        <br>
                        <li>
                            il menu che si propone giornalmente deve essere sufficientemente vario. ogni giorno è bene introdurre
                            almeno un alimento appartenente a ciascuno dei gruppi fondamentali di alimenti. Essi sono un'ottima guida
                            nella pianificazione di una dietà perché permettono facilmente la variazione dei cibi nella giornata e nella
                            settimana. In questo modo è possibile studiare un menu rotativo che sia equilibrato all'interno di una struttura ristorativa.
                        </li>
                        <br>
                        <li>
                            È importante consomare cibi idonei, ossia non inquinati da sostanze chimiche utilizzate sconsideratamente
                            in agricoltura ed in zootecnica. il consumatore attento dovrà saper riconoscere le caratteristiche degli 
                            "alimenti biologici" che conciliano in qualità del prodotto alimentare con il rispetto e la tutela della natura.
                            È opportuno,inoltre, saper scegliere gli alimenti in base alla loro freschezza,stagionalità, e reperibilità."
                        </li>
                        <br>
                        <li>
                            La dieta deve soddisfare appieno i sensi ed i gusti personali, pertanto la preparazione e la cottura dei cibi
                            deve essere sana, varia ed appetibile, Evitae l'abuso di condimenti grassi e limitare l'uso di quelle tecniche
                            di cottura, come fritti e grigliate, che possono comportare in alcuni casi trasformazioni nocive dei cibi.
                        </li>
                        <br>
                        <li>
                            gli alimenti che si consumano vanno distribuiti razionalmente nell'arco della giornata in 3-4 pasti quali:
                            <strong>prima colazione,pranzo,cena</strong> ed eventualmente spuntino come <strong>merenda</strong>
                        </li>
                    </ol>
                </p>
            </article>    
        </div>
    </main>

{% endblock %}